
.App {
  min-height: 100%;
  flex:1;
  flex-direction: column;
}

.Top-background {
  display: flex;
  min-height: 70vh;
  text-align: center;
  background-image: url("./images/background.jpeg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.Footer-background {
  display: flex;
  min-height: 30vh;
  background-color: 	#F0F0F0;
}

.body {
  display: block;
  margin: auto;
  width:40%;
  min-height: 45vh;
  border-color: black;
  flex-direction: column;
  background-color: white;
}
